:root {
    --dark-color: #181E1E;
    --red-color: #E63946;
    --pink-color: #FF6864;
    --yellow-color: #FFCA28;
}
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'inter', sans-serif;
   
}
.container {
    width: 1024px;
    margin:  0 auto;
}
a {
    text-decoration: none;
}
@media (max-width: 1024px) {
    .container {
        width: 754px;
       
    }
}
@media (max-width: 720px) {
    .container {
        width: 311px;
        min-height: 60px;
    }
}